{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <h1>Inscription</h1>

        {{ form(registerForm) }}   {#   J'interprète mon formulaire registerForm en l'affichant sur la view (vue) #}
    </div>
{% endblock %}
