{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5 text-center">
        <img src="/assets/img/check.png" alt="Commande confirmée">
        <h1 class="text-success text-center">Merci pour votre commande</h1>
        <a class="btn btn-success" href="{{ path('app_account_order', {'id_order': order.id}) }}">Consulter ma commande</a>

    </div>
{% endblock %}
